<% content_for :hm do 'active' end%>

<div class="row">
  <div class="col-md-4 panel-right">
    <div class="panel panel-default">
      <div class="panel-body">
      <div class="yourImage"><%= image_tag current_user.image.url(:medium) %></div>
      <h4 class="text-center profile-name"><%= current_user.name %></h4>
      </div>
      <div class="acc-settings center">
        <i class="fa fa-gear"></i> Account Settings
      </div>
    </div><!-- ./panel -->

    <div class="panel panel-default">
      <div class="panel-body">
        Content
      </div>
    </div><!-- ./panel -->

    <div class="panel panel-default">
      <div class="panel-body">
        Content
      </div>
    </div><!-- ./panel -->

  </div><!-- /right col-->

  <div class="col-md-8 panel-left">

    <div class="panel panel-default">
      <div class="panel-body">
        Another Content
      </div>
    </div><!-- ./panel -->

    <div class="panel panel-default">
      <div class="panel-body">
        Another Content
      </div>
    </div><!-- ./panel -->

    <div class="panel panel-default">
      <div class="panel-body">
        Another content
      </div>
    </div><!-- ./panel -->

  </div>
</div><!-- ./row -->
